DECKS_TABLE_NAME=deckhub-decks
DECK_VERSIONS_TABLE_NAME=deckhub-deck-versions
DOWNLOAD_DOMAIN=d111111abcdef8.cloudfront.net
DOWNLOAD_URL_TTL_SECONDS=300
CLOUDFRONT_KEY_PAIR_ID=K0000000000000
CLOUDFRONT_PRIVATE_KEY_SECRET_ARN=arn:aws:secretsmanager:ap-northeast-2:123456789012:secret:deckhub/cloudfront-private-key
